# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: node index.js https://datuan.dev/sitemap.xml
    - run: node index.js https://datuan.dev/sitemap.xml --quite
    - run: node index.js https://datuan.dev/sitemap.xml --range 604800
    - run: node index.js https://datuan.dev/sitemap.xml --all
    - run: node index.js https://datuan.dev/sitemap.xml --delay 50
